* { margin: 0; padding: 0; }

@keyframes blink {
    50% { background: #000000; },    
    100% { background: #FFC473; }
}


#wrapper {
    background-color: white;
	margin: 0 auto;
	padding: 20px;
	border: 3px solid #333;
	width: 900px;
}



.blink{
  animation: blink 5s;
  -webkit-animation: blink 10s; /* Safari and Chrome */
}

#status{
  border: 1.5px solid;
  background-color: #FFC473;
  padding: 20px;
  margin-top: 30px;
}

#rhythmStates{
  border: 1.5px solid;
  background-color: #F26D93;
  padding: 8px;
}

#vf{
  height: 50px;
}
#info{
  margin-top: -20px;
  border:1.5px solid;
  height: 270px;
  width: 500px;
  overflow: scroll;
  background-color: white;
}

#ecg{
    background-color: white;
    margin-left: 0px;
    margin-bottom:20px;
    padding: 10px;
	border: 3px solid #333;
	width: 600px;
    height: 100px;
}

#authorship{
    background-color: white;
    margin: 0 auto;
    padding: 20px;
	border: 3px solid #333;
	width: 900px;
}


.left {
	margin-right: 30px;
	float: left;
    padding: 20px;
}

.right{
  margin-right: 30px;
  float: right;
  padding: 20px;
}

.clear {
	clear: both;
}

h1 { margin-bottom: 10px; border-bottom: 3px solid #000; }

h2 { margin-bottom: 10px; border-bottom: 2px solid #000; }

h3 { margin-bottom: 10px; border-bottom: 1px solid #000; }

span {
	margin-bottom: 10px;
	width: 200px;
	display: inline-block;
    float:left;
}
input[type] {
	width: 50px;
	height: 30px;
    margin-left: 20px;
    float:right;
}

button {
	margin-bottom: 10px;
	border: 1px solid #000;
	width: 150px;
	height: 30px;
}

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fill {
  0%        { opacity: 0; }
  50%, 100% { opacity: 1; }
}

@keyframes mask {
  0%        { opacity: 1; }
  50%, 100% { left: 0%; opacity: 0; }
}

#clock {
  width: 180px;
  height: 100px;
  border: 1px solid #000;
  position: relative;
  background: #FF4;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 10px
}

.pie {
  width: 50%;
  height: 100%;
  position: absolute;
  background: #952243;
}

.spinner {
  transform-origin: right;
  border-radius: 125px 0 0 125px;
  z-index: 200;
  border-right: none;
  position: absolute;
  animation: rotate 10s linear;
}

.filler {
  border-radius: 0 125px 125px 0;
  z-index: 100;
  border-left: none;
  animation: fill 10s steps(1, end);
  left: 50%;
  opacity: 0;
}

.mask {
  width: 50%;
  left:2%;
  height: 100%;
  position: relative;
  z-index: 300;
  opacity: 1;
  background: inherit;
  animation: mask 10s steps(1, end);
}
